

header {
    background: var(--cor-preto-1);
    
}

.header-wrapper {
    font-family: var(--fonte-poppins);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 20px;
        margin: 0px 160px;

}

.header-menu {
    display: flex;
    gap: 40px;
}

.menu-item a {
    font-size: 18px;
    color: var(--cor-branco);
    font-weight: 500;
    padding: 15px 0px;
    position: relative;
}

.menu-item {
    position: relative;
}

.menu-item a:after {
    content: "";
    display: block;
    width: 0px;
    height: 3.5px;
    background: var(--cor-branco);
    position: absolute;
    bottom: 5px;
    transition: .4s;
    border-radius: 4px;
}

.menu-item a:hover:after {
    width: 100%;

}

